* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;

    --color-base-white: #FFFFFF;
    --color-base-white-200: #F4FCFF;
    --color-base-blue: #065E7C;
    --color-base-ligthblue: #387E96;
    --color-base-black: #202024;
    --color-base-ligthblack: #121214;
}

html, body, input {
    font-family: 'Mulish', sans-serif;
}

body {
    max-width: 43rem;
    margin: 0 auto;
}

header {
    height: 7.2rem;
    
    display: flex;
    align-items: center;
    gap: 2.6rem;

    padding: 1.6rem 2.8rem;

    background-color: var(--color-base-blue);
}

.logo {
    width: 4rem;
    height: 4rem;

    display: flex;
    align-items: center;

    border-radius: 9rem;

    padding: .9rem .8rem;

    background-color: var(--color-base-white-200);
}

header form {
    flex: 1;
}

.input-wrapper label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input {
    width: 100%;
    padding: 1.2rem 1.4rem;

    background-color: var(--color-base-ligthblue);
    color: var(--color-base-white);

    border: 0;
    border-radius: .4rem;

    font-size: 1.6rem;
    font-weight: 400;
    
}

.input-wrapper input::placeholder {
    color: var(--color-base-white);
    opacity: 0.80;
}


.avatar {
    width: 4.2rem;
    height: 4.2rem;

    border-radius: 9rem;
}

.container {
    box-sizing: border-box;
}

.first-img {
    margin-bottom: 3.1rem;
}

h1 {
    font-size: 2.4rem;
    font-weight: bold;

    margin-bottom: .8rem;
}

.button-wrapper {
    display: flex;
    gap: 1.2rem;
    
    margin-bottom: 3.1rem;
}

button {
    height: 4rem;
    width: 4rem;

    background-color: var(--color-base-white);

    border: 0;
}

p {
    font-size: 1.6rem;
    line-height: 160%;

    color: var(--color-base-ligthblack);
}

figure {
    display: flex;
    gap: 1.6rem;

    margin-top: 3.2rem;
    
}

.details {
    width: 21.5rem;
}

.details h2 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 160%;
}

.details p {
    font-size: 1.4rem;
    line-height: 160%;
}

footer {
    height: 6.4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-base-blue);
}

footer p {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--color-base-white);
}


/* media queries */
@media (min-width: 770px) {
    body {
        max-width: 1600px;
    }

    header {
        padding: 1.6rem 11.2rem;
    }

    main {
        padding: 4.4rem 11rem 40rem;

        display: flex;
        gap: 5rem;

        height: 130vh;
    }


    .first-img {
        width: 80.3rem;
        max-height: 40.5rem;
    }

    .title-wrapper {
        display: flex;
        justify-content: space-between;

        max-width: 80rem;
        height: 4rem;

        margin-bottom: 3.1rem;
    }

    .artigo-principal {
        width: 80rem;
    }

}


/* Adicionando algumas animações no projeto */

header {
    --startY: 100%; /* Definindo a variavel de inicio como 100% */
    animation: move .2s;
}

footer {
    --startY: 100%;
    animation: move .2s;
}

/* Keyframes para movimento do header e footer na animation */
@keyframes move {
    from {
        transform: translateY(var(--startY));
    }
}

.item {
    --delay: .3s; /* -> criação da var --delay para definir um delay para o surgimento dos itens no main*/
    animation: appear 3s var(--delay) backwards;

    /* IMPORTANTE: Para dar o efeito de cada item aparecer em sequencia, necessario definir no HTML o valor da var --delay de cada item */
}

/* criação do @keyframes para aparecer os itens do main */
@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    50% {
        transform: scale(1);
    }
}

